// Colors
$cyan: #13DAC0;
$orange: #F48516;
$purple: #C02DEF;
$white: #FFFFFF;
$lightGray: #F3F3F3;
$darkGray: #293B4F;
$gold: #F6BE09;
$mediumGray: #37414A;

// Fonts
$poppins: "Poppins", sans-serif;
